.gradient-bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #00b4db, #01526d);
  color: rgb(0, 0, 0);
}
.title-runplan {
  display: flex;
  background-color: #001f3f;
  justify-content: space-between;
  color: #f3ebeb;
}
.title-runplan2 {
  display: flex;
  background-color: #001f3f;
  color: #f3ebeb;
  justify-content: center;
}

.avantar {
  display: flex;
  justify-content: center;
}
.athlets-card {
  background: transparent !important;
}
.athlets-card .v-card-title {
  font-size: xx-large;
  color: #001f3f;
  justify-content: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.athlets-card .v-card-subtitle {
  font-size: medium;
  font-weight: bolder;
}

.athlets-card .v-avatar {
  width: 56px !important;
  height: 56px !important;
}

.result-card {
  background: transparent !important;
}

.choosing-fields {
  justify-content: center;
  margin-top: 100px !important;
}
.devider {
  display: flex;
  margin-top: 20px;
}

.title-home {
  display: flex; /* d-flex */
  flex-direction: column; /* flex-column */
  align-items: center; /* align-center */
  text-align: center; /* text-center */
}
