body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f9fafb;
}

a {
  color: #3b82f6;
  text-decoration: none;
}

.btn {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  background-color: #2563eb;
}
